@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  font-family: 'Onest', sans-serif;
}

* {
  font-family: 'Onest', sans-serif;
}

h1 {
  font-family: 'Onest', sans-serif;
  font-weight: bold;
}


.bg-white {
  background-color: white;
}
.dark .bg-white {
  background-color: black;
}

/* assets/css/main.css */
.bg-custom {
  background-color: #f0f0f0; /* Light mode background */
}
.dark .bg-custom {
  background-color: #1a202c; /* Dark mode background */
}
